<div class="dropdown">
    <button class="btn btn-block
                   btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dil Seçiniz
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
        <a class="dropdown-item" href="#">Türkçe</a>
        <a class="dropdown-item" href="#">İngilizce</a>
    </div>
</div>