@model CMS.ViewModels.Home.CustomerLineDetailsViewModel
@using CMS.Localization;

@{
    ViewBag.Title = Common.CustomerLineDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="line-field" class="container">
    <div class="flex-row-fluid ">
        <div class="card card-custom card-stretch">
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">@Common.PleaseWait</h3>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Content/assets/js/pages/features/custom/spinners.js")
<script>
        $.ajax({
            url: '@Url.Action("CustomerLineDetails", "Home")',
            method: 'GET',
            complete: function (data, status) {
                if (status == "success") {
                    $('#line-field').html(data.responseText);
                }
            }
        });
</script>
}