
@using CMS.Localization;

@{
    ViewBag.Title = Common.RegisterTracking;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card card-custom card-stretch">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label font-weight-bolder text-dark font-size-h2">Başvuru Durumunuz</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="timeline timeline-3">
                    <div class="timeline-items">
                        <div class="timeline-item">
                            <div class="timeline-media bg-success">
                                <span class="svg-icon svg-icon-white svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) " />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark">Başvurunuzu Aldık</h3><span class="label label-success font-weight-bolder label-inline ml-2">Tamamlandı</span>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Başvurunuz başarılı bir şekilde tamamlandı. Bu aşamada Hizmetlerimizden faydalanmaya başlamanız için öncelikle sözleşmeyi indirmeniz, yazıcıdan çıktıları aldıktan sonra sözleşmenin tüm sayfalarına imza atmanız ve tarafımıza iletmeniz gerekmektedir. Önlü-Arkalı kimlik fotokopinizi aşağıdaki alana sürükleyerek veya tıklayarak yüklemeniz gerekmektedir.
                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <div id="dropzone" class="dropzone dropzone-default dropzone-primary dz-clickable">
                                                <div class="dropzone-msg dz-message needsclick">
                                                    <input type="file" style="visibility:hidden" id="customerContract" name="customerContract" />
                                                    <h3 class="dropzone-msg-title">Kimlik fotokopinizi buraya sürükleyin veya gözatmak için tıklayın</h3>
                                                    <span class="dropzone-msg-desc">Kimliğinizin ön ve arka fotokopisini yüklemeniz gerekiyor</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-toolbar">
                                        <a href="yeni-talep.html" class="btn btn-sm btn-info font-weight-bold mr-2 mt-2">Abone Form & Sözleşme</a>
                                        <a href="destek.html" class="btn btn-sm btn-primary font-weight-bold mr-2 mt-2">İşletmeci Değişiklik Formu</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-media bg-warning">
                                <span class="svg-icon svg-icon-white svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" fill="#000000" />
                                            <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark">Belgelerinizi Bekliyoruz</h3><span class="label label-warning font-weight-bolder label-inline ml-2">Bekliyor</span>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Evde kurulum hizmeti aldıysanız bu aşamada bir şey yapmanız gerekmiyor. Ekiplerimiz evraklarınızı sizden teslim alacaklar.<br>
                                    Kurulum hizmeti almadıysanız belgelerinizi anlaşmalı olduğumuz MNG Kargo 289 192 075 gönderi kodu ile ücretsiz olarak gönderebilirsiniz. Belgelerinizi farklı bir kargo firması ile ücretini ödeyerek göndermek isterseniz Adresimiz : Netspeed İnternet A.Ş Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli
                                </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-media bg-secondary">
                                <span class="svg-icon svg-icon-dark-50 svg-icon-2x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark-50">Belgelerinizi Kontrol Ediyoruz</h3>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Bu aşamada sizin yapmanız gereken bir şey yok! Evrak kontrol birimimiz belgelerinizi inceliyor belgeleriniz ve doldurmuş olduğunuz formlarda herhangi bir eksik yoksa satış temsilcimiz sizi arayacak ve sesli onayınızı alacak.
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-media bg-secondary">
                                <span class="svg-icon svg-icon-dark-50 svg-icon-2x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark-50">Aktivasyon Sürecini Başlattık</h3>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Başvurunuz sistemlerimize kayıt ediliyor hemen ardından internet bağlantınızın sağlanması için süreç başlayacak.
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-media bg-secondary">
                                <span class="svg-icon svg-icon-dark-50 svg-icon-2x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark-50">İnternet Bağlantınızı Yapıyoruz</h3>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Bu aşamada saha ekiplerimiz internet bağlantınızı yapacak. Diğer bir operatörden geçiş yaptıysanız tarafınıza SMS ile gönderilecek Kullanıcı adı ve şifrenizi Modem arayüzüne giriş yaparak tanımlamanız gerekmektedir. Bu aşamada bir sorun yaşarsanız 0850 800 5 800 numaralı müşteri destek hattımızdan destek alabilirsiniz.
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-media bg-secondary">
                                <span class="svg-icon svg-icon-dark-50 svg-icon-2x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark-50">Tamamlandı</h3>
                                    </div>
                                </div>
                                <p class="p-0">
                                    Memnuniyet duyacağınızı düşündüğümüz ve ihtiyaç duyduğunuz internet gereksinimlerinizi en iyi şekilde karşılayacağına inandığımız hizmetimizi size sunmaktan mutluluk duyacağız. Bizi tercih ettiğiniz için teşekkür ederiz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        var customerZone = document.getElementsByName("customerContract")[0];
        customerZone.addEventListener('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';

        });
        customerZone.addEventListener("drop", function (e) {
            e.stopPropagation();
            var files = e.dataTransfer.files;
            $('input[name=customerContract]').files = files;
        });

        var dropzone = document.getElementById("dropzone");
        dropzone.addEventListener('dragover', function (e) {
            $('#customerContract').trigger("dragover");
        });
        dropzone.addEventListener("drop", function (e) {
            $('#customerContract').trigger("drop");
        });

    </script>
}