@using RezaB.Web.VPOS

@{
    ViewBag.Title = CMS.Localization.Common.InvoicePayments;
}

<div class="container" style="text-align: center; color: orange;">
    <div class="card">
        <div class="card-body text-center">
            @Html.Raw(ViewBag.POSForm)
        </div>
    </div>
</div>