
@{
    ViewBag.Title = "PayBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!--begin::Dashboard-->
    <!--begin::Content-->
    <div class="flex-row-fluid ">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        Online Fatura Ödeme
                    </h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">
                        Ödemeleriniz
                        için güvenli ödeme sayfası
                    </span>
                </div>
                <div class="card-toolbar">
                    <a href="kayitlikart-odeme.html"
                       class="btn btn-sm btn-light-primary font-weight-bold mr-2">
                        Kayıtlı
                        Kart İle Ödeme
                    </a>
                    <a href="otomatik-odeme.html"
                       class="btn btn-sm btn-light-info font-weight-bold mr-2">
                        Otomatik
                        Ödeme Talimatı
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p>
        <!--end::Header-->
        <!--begin::Container-->
        <!--begin: Wizard-->
        <!--begin: Wizard Body-->
        <div class="card card-custom card-shadowless rounded-top-0">
            <div class="card-body p-0">
                <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                    <div class="col-xl-12 col-xxl-7">
                        <!--begin: Wizard Form-->
                        <!--begin: Wizard Step 2-->
                        <div class="row">

                            <div class="fv-plugins-message-container"></div>


                            <div class="fv-plugins-message-container"></div>
                        </div>
                        <!--end::Input-->
                        <h4 class="mb-10 font-weight-bold text-dark">
                            Kart Bilgilerini Giriniz
                        </h4>
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group fv-plugins-icon-container">
                                    <label>Kart Sahibi Adı</label>
                                    <input type="text"
                                           class="form-control form-control-solid form-control-lg"
                                           name="ccname" placeholder="Adı Soyadı">
                                    <span class="form-text text-muted">
                                        Lütfen kart üzerinde
                                        yazın Ad ve Soyad giriniz
                                    </span>
                                    <div class="fv-plugins-message-container"></div>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group fv-plugins-icon-container">
                                    <label>Kart Numarası</label>
                                    <input type="text"
                                           class="form-control form-control-solid form-control-lg"
                                           name="ccnumber" placeholder="Kart Numarası">
                                    <span class="form-text text-muted">
                                        Lütfen kart numarasını
                                        yazınız
                                    </span>
                                    <div class="fv-plugins-message-container"></div>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group fv-plugins-icon-container">
                                    <label>Son Kullanım Tarihi (AY) </label>
                                    <select class="form-control form-control-solid form-control-lg"
                                            name="billing_card_exp_month">
                                        <option value="">Ay Seçin</option>
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <span class="form-text text-muted">
                                        Lütfen Kartınızın Son
                                        Kullanma Ayını girin.
                                    </span>
                                    <div class="fv-plugins-message-container"></div>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group fv-plugins-icon-container">
                                    <label>Son Kullanım Tarihi (YIL)</label>
                                    <select class="form-control form-control-solid form-control-lg"
                                            name="billing_card_exp_year">
                                        <option value="">Yıl Seçin</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2021">2021</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                    </select>
                                    <span class="form-text text-muted">
                                        Lütfen Kartınızın Son
                                        Kullanma Yılını girin.
                                    </span>
                                    <div class="fv-plugins-message-container"></div>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <div class="form-group fv-plugins-icon-container has-success">
                                    <label>Kart Güvenlik Kodu</label>
                                    <input type="password"
                                           class="form-control form-control-solid form-control-lg"
                                           name="cccvv" placeholder="Güvenlik Kodu">
                                    <span class="form-text text-muted">
                                        3 Haneli Güvenlik Kodunu
                                        girin.
                                    </span>
                                    <div class="fv-plugins-message-container"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Wizard Step 2-->

                        <div class="info-box ">
                            Güvenliğiniz sebebi ile ödeme işleminiz
                            <strong>3D secure</strong> ile gerçekleşecektir.
                        </div>
                        <!--end: Wizard Step 3-->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex justify-content-between border-top mt-5 pt-3">
                                    <div class="mr-1"></div>
                                    <div>
                                        <button type="reset" class="btn btn-light-primary font-weight-bold">
                                            İptal
                                        </button>
                                        <button type="button" class="btn btn-danger font-weight-bold" id="kt_sweetalert_yonlendirme1">
                                            Gönder
                                        </button>

                                    </div>
                                </div>
                                <!--end: Wizard Actions-->
                                <div></div>
                                <div></div>
                                <!--end: Wizard Form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Wizard Bpdy-->
        </div>

</div>
