<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="error-wrapper">
        <div class="error-title">@CMS.Localization.Errors.InternalError</div>
        <div>
            @CMS.Localization.Errors.InternalErrorDescription
        </div>
    </div>
</body>
</html>
