<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INetspeedCustomerService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56365/NetspeedCustomerService.svc/NetspeedCustomerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INetspeedCustomerService"
                contract="NetspeedCustomerServiceReference.INetspeedCustomerService"
                name="WSHttpBinding_INetspeedCustomerService" />
        </client>
    </system.serviceModel>
</configuration>