<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGenericCustomerService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.184.3.63:5998/GenericCustomerService.svc/GenericCustomerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGenericCustomerService"
                contract="GenericCustomerServiceReference.IGenericCustomerService"
                name="WSHttpBinding_IGenericCustomerService" />
        </client>
    </system.serviceModel>
</configuration>